.example-card {
    margin-top: 20px;
    max-width: 400px;
    display: inline-block
}

.container {
    text-align: center;
}

.example-full-width {
    width: 100%;
}

.header {
    text-align: center;
}