<!-- <div class="container">
    <div class="inside">
        <mat-card class="example-card">
            <div class="form-group">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <mat-card-title class="header">Login</mat-card-title><br>
                    <mat-form-field class="example-full-width">
                        <mat-card-subtitle><input matInput type="text" required placeholder="Username" name="username"
                                [(ngModel)]="username">
                        </mat-card-subtitle>
                    </mat-form-field><br>
                    <mat-form-field class="example-full-width">
                        <mat-card-subtitle><input matInput type="password" required placeholder="Password"
                                name="password" [(ngModel)]="password">
                        </mat-card-subtitle>
                    </mat-form-field>
                    <br>
                    <div class="header">
                        <button mat-button class="btn btn-danger" type="submit" [disabled]="loginForm.invalid">Login</button><br><br>
                        <button mat-button class="btn btn-danger" (click)="router.navigate(['/register']);">Register</button><br><br>
                        <div *ngIf="readLocalStorageValue('token') != undefined">
                            <button mat-button class="btn btn-danger" (click)="logout()">Logout</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div> -->
